@font-face
{
	font-family: Monda;
	src: local("Monda Regular"), url("../fonts/Monda-Regular.ttf") format("truetype");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face
{
	font-family: Monda;
	src: local("Monda Bold"), url("../fonts/Monda-Bold.ttf") format("truetype");
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}